header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 32px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #f0f0f0;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}

footer a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  color: #F8F4E3;
}

body {
  background-color: #A2A392;
  margin: 0px;
  padding: 0px;
}